widthAndHeight(w, h)
  width (w / 75)rem
  width (w / 7.5)vw
  height (h / 75)rem
  height (h / 7.5)vw
setBottomLine(c,l,r)
  content ''
  position absolute
  height 1px
  bottom 0
  left l px
  right r px
  border-bottom 1px solid c
  transform scaleY(0.5)
setTopLine(c,l,r)
  content ''
  position absolute
  height 1px
  top 0
  left l px
  right r px
  border-top 1px solid c
  transform scaleY(0.5)
  
  
